bucket         = "devsecops-pipeline-terraform-state-example"
key            = "devsecops-pipeline/dev/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "devsecops-pipeline-terraform-locks-example"
encrypt        = true
